[submodule "firmware/components/micro_ros_espidf_component"]
	path = firmware/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
	branch = jazzy
    ignore = dirty
